@import './_fonts';
@import './_vars';
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import '../../node_modules/normalize.css/normalize';
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    resize: none;
    outline: none;
    text-decoration: none;
}

body {
    @extend %montserrat-500;
    background-color: $bg-color;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1430px;
    min-height: inherit;
    margin: 0 auto;
    padding: 0 10px;
}